<!DOCTYPE html>
<html>
<head>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" style="color: white" aria-current="page" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" style="color: white" aria-current="page" href="/login">Profile</a>
                    </li>
                    <li class="nav-item" style="margin-left: 800px">
                        <a class="nav-link active" style="color: white" aria-current="page" href="#">Premium Video
                            <i class="fa fa-bolt" aria-hidden="true" style="font-size: 24px"></i>
                        </a>
                    </li>
                </ul>
           </div>
        </div>
    </nav>
</head>
<body>
    <h2>Enter your information:</h2>
    <form>
        <label for="email">Email:</label><br />
        <input type="email" id="email" name="email" required /><br /><br />
        <label for="phone">Phone Number:</label><br />
        <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" required /><br /><br />
        <label for="card">Card ID:</label><br />
        <input type="text" id="card" name="card" required /><br /><br />
        <label for="expiry">Expiry Date:</label><br />
        <input type="month" id="expiry" name="expiry" required /><br /><br />
       <input class="btn btn-success" type="button" id="payButton" value="Pay" (click)="OnSubmit()"/>
       <input class="btn btn-danger" type="button" id="payButton" value="Cancel" routerLink="/web-page"/>
    </form>
</body>
</html>