body {

    background: rgb(99, 39, 120);

  }


 

  .form-control:focus {

    box-shadow: none;

    border-color: #ba68c8;

  }


 

  .profile-button {

    background: rgb(99, 39, 120);

    box-shadow: none;

    border: none;

    padding: 10px 20px;

    font-weight: bold;

    color: white;

  }


 

  .profile-button:hover {

    background: #682773;

    cursor: pointer;

  }


 

  .profile-button:focus {

    background: #682773;

    box-shadow: none;

    outline: none;

  }


 

  .profile-button:active {

    background: #682773;

    box-shadow: none;

  }


 

  .labels {

    font-size: 11px;

  }


 

  /* Updated CSS styles */

  html,

  body {

    height: 100%;

    display: flex;

    align-items: center;

    justify-content: center;

  }


 

  .container {

    width: 100%;

    max-width: 500px;

    height: 100%;

    background: #fff;

    padding: 20px;

    border-radius: 10px;

  }


 

  .container .row {

    width: 100%;

  }